{% import mobility %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>mobility</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="node_modules/bootstrap-select-v4/dist/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  {% set base = '.' %}
  {% include template-navbar.html %}
  <!-- TODO: Filter bars -->
  <script type = "text/html" class = "insight">
    
    <p> In <%=country%> google users are increasing mobility in <%= category%> before covid by <%= before%> percent.</p>

 

  </script>
 
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-md-6">
        
        <div class="card">
          <h5 class="card-header">Google Mobility Trend</h5> 
          <div class="card-body">
              <svg id = "trendline"></svg>
        </div>
        </div>
      </div>
      <div class="col-md-6"> 
        <div class="card">
          <h5 class="card-header">Apple Mobility Trend</h5>
          <div class="card-body">
            <svg id="barchart"></svg>
          </div>
        </div>
    </div>
  </div>
  </div> 
 

  
  <script src="ui/jquery/dist/jquery.min.js"></script>
  <script src="ui/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="node_modules/bootstrap-select-v4/dist/js/bootstrap-select.min.js"></script>
  <script src="ui/d3v5/dist/d3.min.js"></script>
  <script src="ui/lodash/lodash.min.js"></script>
  <script src="ui/g1/dist/g1.min.js"></script>
  <script src="js/trendline.js"></script>
  <script src="js/barchart.js"></script>
  
 

  <!-- Commonly used libraries:

  
  <script src="ui/morphdom/dist/morphdom-umd.min.js"></script>
  
  <script src="ui/moment/min/moment-with-locales.min.js"></script>
  <script src="ui/daterangepicker/daterangepicker.js"></script>
  <script src="ui/leaflet/dist/leaflet.js"></script>
  <script src="ui/topojson/dist/topojson.min.js"></script>
  -->
  <script>
    draw_charts()
    $('.selectpicker').on('changed.bs.select', function(){
      draw_charts()
    })

    function draw_charts() {
      $.getJSON('google?country='+$('.country-picker').selectpicker('val'), function(data){
        draw_trendline('#trendline', JSON.parse(data.data), {
          x: 'date',
          y: $('.category-picker').selectpicker('val')
        })
        $.getJSON('googleinsights?country='+$('.country-picker').selectpicker('val'), function(data){
          
        $('script.insight').template({'country':$('.country-picker').selectpicker('val') , 'category': $('.category-picker').selectpicker('val'), 'before':$()});
      })


      $.getJSON('apple?region='+$('.country-picker').selectpicker('val'), function(data){
        draw_barchart('#barchart', JSON.parse(data.data1), {
          x: 'transportation_type', 
          y: 'value'
        })
    //     var insight = {'car':'https://svgsilh.com/svg/2386838.svg', 'walking':' https://upload.wikimedia.org/wikipedia/commons/8/8a/Man_Walking_Cartoon_Vector.svg',
    // 'transit': 'https://img.icons8.com/cotton/64/000000/traditional-school-bus--v1.png' }
      

        
        
      })
        
    }
     
      )}
    
  </script>
 
</body>

</html>
